@import "tailwindcss";

.sansation-light {
  font-family: "Sansation", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.sansation-bold {
  font-family: "Sansation", sans-serif;
  font-weight: 900;
  font-style: normal;
}


.cormorant-garamond{
  font-family: "Cormorant Garamond", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}